<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>

<body>
    <a href="/logout">
        <button>Đăng xuất</button>
    </a>

    <nav id="navbar">
        <ul>
            <li><a href="/admin/index">Trang chủ</a></li>
            <li><a href="/admin/books">Các đầu sách</a></li>
            <li><a href="/admin/loans">Các đơn mượn</a></li>
            <li><a href="/admin/add_book">Thêm đầu sách</a></li>
        </ul>
    </nav>
</body>

</html>