<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các đơn mượn</title>
</head>

<body>
    <a href="/logout">
        <button>Đăng xuất</button>
    </a>

    <nav id="navbar">
        <ul>
            <li><a href="/admin/index">Trang chủ</a></li>
            <li><a href="/admin/books">Các đầu sách</a></li>
            <li><a href="/admin/loans">Các đơn mượn</a></li>
            <li><a href="/admin/addBook">Thêm đầu sách</a></li>
        </ul>
    </nav>
    <form th:action="@{/admin/loans/search}">
        <label for="keyword">Tìm kiếm bằng Id:</label>
        <input type="text" class="form-control" name="keyword">
        <button>Tìm kiếm</button>
    </form>
    <h1>Các đơn mượn</h1>
    <table>
        <tr>
            <td>Mã đơn</td>
            <td>Email</td>
            <td>Số lượng</td>
            <td>Trạng thái</td>
        </tr>

        <div th:if="${message != null}">
            <p th:text="${message}"></p>
        </div>

        <tr th:each="loan : ${loans}">
            <td th:text="${loan.id}"></td>
            <td th:text="${loan.loanerEmail}"></td>
            <td th:text="${loan.booksOnLoan.size()}"></td>
            <td th:text="${loan.status}"></td>
            <td>
                <a th:href="@{|/admin/loans/${loan.id}|}">
                    <button>Xem thông tin</button>
                </a>
            </td>
        </tr>
    </table>
</body>

</html>